bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/*.json
/Program.cs
.idea
/OTPBUILD.csproj
/OTPBUILD.sln
/OTPBUILD.sln.DotSettings.user
/Folder.DotSettings.user
/.env
/src/Services/RiotApiClient.cs
/libs/
/publish/
